
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views ! et oui mon petit</h1>


<a href="/gossips/new/">Pour écrire un nouveau Gossip c'est ici !</a>

<h2>Voici l'index de la liste des potins !! </h2>

<% gossips.each_with_index do |gossip, index_g| %>
        <p>
          <%=index_g + 1%> - Auteur <%= gossip.author %> - <%= gossip.content %> - <a href="/gossips/<%=index_g+1%>">lien en exclu ici !</a>
        <p>
      <% end %>

  </body>
</html>

